body{
    background-color: cadetblue;
}
div.myDIV {
    position: absolute;
    top: 15px;
    right: 25px;
   
  }
  div.myDIV img{
    height: 40px;
    width: 40px;
    border-radius: 3px;
    box-shadow: black;
  }
  .hide {
    display: none;
    position: absolute;
    top: 70px;
    right: 15px;
  }
  
  .myDIV:hover + .hide {
    display: block;
    color: red;
    font-weight: bold;
  }